.vscode
yarn-error.log
node_modules
lib
.merlin
*~
_build
build/META
build/make_suite
src/batteries_config.ml
doc/batteries/html/api/
hdoc/*
man/*
*.byte
*.native
/.omake*
*.swp
*.opt
*.run
apidocs
batteries.docdir
batteries.odocl
qtest/*_t.ml
qtest/test_mods.mllib
bench.log
qtest/all_tests.ml
qtest2/all_tests.ml
qtest.targets.log
coverage
setup.data
setup.log
src/batUnix.mli
src/batHashtbl.ml
src/batMarshal.mli
src/batPrintexc.mli
src/batPrintf.ml
src/batPrintf.mli
src/batFormat.mli
src/batSys.mli
src/batBigarray.mli



# Created by https://www.gitignore.io/api/macos

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# End of https://www.gitignore.io/api/macos

# persistent-package-linker
package-links.json